doctype html
html
    head
        meta(name='description', content='replicare le condizioni del data leak di INPS avvenuto il 1 Aprile 2020')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title INPS bad cache replica
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.min.css')

    body
        section.section
          div.container
            h1.title INPS bad cache replica
            div Questo progetto #[a(href="https://github.com/LorenzoZaccagnini/inps-bad-cache" target="_blank") open-source #[span]] realizzato da #[a(href="https://www.linkedin.com/in/lorenzo-zaccagnini/"  target="_blank") Lorenzo Zaccagnini #[span]] prova a replicare le condizioni del data leak dell'INPS avvenuto il 1 Aprile 2020.
            br
            div Ci sono due sezioni, una che usa la cache e replica le vulnerabilità riscontrate sul sito dell'INPS ed un'altra senza cache che mostra il risultato corretto.
            br
            div Di quale utente vuoi sapere il colore preferito?
            div(class='has-text-weight-bold') Provate più volte con nomi differenti
            br
            div(id='pippo')
            br
            button.button(type='button', id='send_button') Vedi dati
            br
            br
            div(id='pippoAvecCache')
            br
            div(id='pippoPasCache')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='/public/js/home.js')
