doctype html
html
    head
        title Jade Page
        script(src='home.js')

    body
        h1 INPS cache replica
        div Questo progetto open-source prova a replicare le condizioni del data leak dell'INPS.
        div Ci sono due sezioni, una che usa la cache e replica le vulnerabilità riscontrate sul sito dell'INPS ed un'altra senza cache che mostra il risultato corretto.
        div Di quale utente vuoi sapere il colore preferito? 
        button(type='button', id='send_by_button') Vedi dati
